.home {
  max-width: 800px;
  margin: 0 auto;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.home-main p {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.home-search input {
  display: block;
  margin: 0.5rem auto 0;
  padding: 10px 15px;
  border: 1px solid #b6b6b6;
  width: 300px;
  outline: none;
}

.home-search button {
  color: #fff;
  background-color: #10486d;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.home-search button:hover {
  background-color: #252525;
  transition: 0.5s;
}

.home-main__username {
  text-transform: capitalize;
  font-weight: 600;
  color: #10486d;
}
