.login-container {
  max-width: 800px;
  margin: 0 auto;
}

.login-container__main {
  text-align: center;
  margin-top: 8rem;
}

.login-container__form {
  margin-top: 2rem;
}

.login-container__form input,
button {
  display: block;
  margin: 0.5rem auto 0 auto;
}

.login-container__form input {
  width: 300px;
  padding: 10px;
  border: 1px solid #b6b6b6;
}

.login-container__form button,
.login-container__register button {
  width: 300px;
  padding: 8px;
  color: #fff;
  border: none;
}

.login-container__form button {
  background-color: #10486d;
}

.login-container__register button {
  background-color: #1b1b1b;
}
