.register {
  max-width: 800px;
  margin: 0 auto;
}

.register-main {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  justify-content: center;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}

.register-form input,
button {
  display: block;
  margin: 0.5rem auto 0;
  padding: 10px 15px;
  border: 1px solid #b6b6b6;
  width: 300px;
  outline: none;
}

.register-form button {
  background-color: #10486d;
  border: none;
  color: #fff;
  font-size: 0.875rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.register-error {
  color: rgb(223, 24, 24);
  margin-top: 1.5rem;
}
